<% content_for :title, "www.gov.uk - the trial ‘beta’ version of the UK government's official website" %>
<% content_for :wrapper_class, "wrapper" %>

<section role="main" class="planner group">

  <header class="page-header group">
    <hgroup>
      <h1>
        <span>Planners</span>
      </h1>
    </hgroup>
  </header>

  <ul>
    <% @planners.each do |id, planner| %>
    <li><%= link_to planner.name, plan_path(id) %></li>
    <% end %>
  </ul>

</section>

<% #if @artefact %>
<!-- related -->
<div class="related-positioning">
	<div class="related-container">

		<div class="related">
      <% if true %>
      <div class="inner cta" class="group">
        <ul class="actions">
          <li class="print"><a href="#" onclick="window.print()" class="button"><span>Print calendar</span></a></li><!-- we actually want this link to open a more print-friendly version of the page -->
          <li class="ical"><a href="#" class="button"><span>Add to calendar</span></a></li>
        </ul>
      </div>
      <% end %>
			<div class="inner group">
				<h2>Related tools &amp; topics</h2>
				<nav role="navigation">
				  <ul>
				      <% (@artefact.related_items || []).each do |item| %>
  				      <% if item.artefact %>
  				      <li class="<%= item.artefact.kind %>">
  				        <%= link_to item.artefact.name, item.artefact.slug %>
  				      </li>
  				      <% end %>
              <% end %>
				      <% if @artefact.section %>
                <li class="related-topic"><a href="/browse/<%= @artefact.section.parameterize %>"
                  >More from the <span><%= @artefact.section %></span> section</a></li>
				      <% end %>
				  </ul>
				</nav>
	   </div>
	 </div>

	</div>
</div>
<!-- end related -->
<% #end %>
