<% content_for :title, "Planning your Adoption Leave" %>
<% content_for :wrapper_class, "wrapper" %>

<section role="main" class="planner group" id="content">

  <header class="page-header group">
    <hgroup>
      <h1>
        <span>Quick answer</span>
        Planning your Adoption Leave
      </h1>
    </hgroup>
  </header>
<div class="article-container group">
  <article role="article" class="group">
    <div class="inner date-planner">
      <% if @planner.errors.any? %>
        <div class="error-notification">
          <p><%= t('errors.notification') %></p>
        </div>
      <% end %>

    <% if @planner.errors.any? || @planner.key_dates.nil? %>
      <%= render partial: "show_adoption_blank" %>
    <% else %>

      <section class="key-dates">
        <header>
          <h1><%= t('.key_dates.heading') %></h1>
        </header>

        <%= form_tag('/adoption', method: :post)%>
          <div class="<%= @planner.errors[:match_date].any? ? 'error-area' : '' %>">
            <% @planner.errors[:match_date].each do |error| %>
              <span class="error-message"><%= error %></span>
            <% end %>
          </div>
          <div class="<%= @planner.errors[:arrival_date].any? ? 'error-area' : '' %>">
            <% @planner.errors[:arrival_date].each do |error| %>
              <span class="error-message"><%= error %></span>
            <% end %>
          </div>
          <div class="<%= @planner.errors[:start].any? ? 'error-area' : '' %>">
            <% @planner.errors[:start].each do |error| %>
              <span class="error-message"><%= error %></span>
            <% end %>
          </div>
          <div class="summary">
            <p><%= t('.key_dates.intro.start') %>:
              <% default_match_date = Date.today + 7 %>
              <%= select_tag "match_date[day]", options_for_select(1..31, params[:match_date] && params[:match_date][:day] || default_match_date.day) %> &nbsp;
              <% months_with_labels = 1.upto(12).map {|month| [l(Date.new(2011, month, 1), format: '%B'), month]} %>
              <%= select_tag "match_date[month]", options_for_select(months_with_labels, params[:match_date] && params[:match_date][:month] || default_match_date.month) %> &nbsp;
              <%= select_tag "match_date[year]", options_for_select((Time.now.year - 1)..(Time.now.year + 2), params[:match_date] && params[:match_date][:year] || default_match_date.year) %><br>

              <%= t('.key_dates.intro.arrival') %>:
              <%= select_tag "arrival_date[day]", options_for_select(1..31, params[:arrival_date] && params[:arrival_date][:day] || default_arrival_date.day) %> &nbsp;
              <% months_with_labels = 1.upto(12).map {|month| [l(Date.new(2011, month, 1), format: '%B'), month]} %>
              <%= select_tag "arrival_date[month]", options_for_select(months_with_labels, params[:arrival_date] && params[:arrival_date][:month] || default_arrival_date.month) %> &nbsp;
              <%= select_tag "arrival_date[year]", options_for_select((Time.now.year - 1)..(Time.now.year + 2), params[:arrival_date] && params[:arrival_date][:year] || default_arrival_date.year) %><br>

              <%= t('.key_dates.intro.leave_before') %>:
                <% options = 0.upto(6).map { |n| [t('day', count: n), n] } %>
                <% options.concat(1.upto(7).map { |n| [t('week', count: n), n * 7] }) %>
                <%= select_tag "start[days_after_due]", options_for_select(options, params[:start] && params[:start][:days_after_due] || 0) %>
                <%= t('.key_dates.intro.end') %>
                <input type="submit" value="Update" class="button" />
              </p>
            </div>
        </form>

        <p><%= t('.key_dates.intro.extra').html_safe %></p>

        <ol>
          <% @planner.key_dates.each_with_index do |key_date_info, i| %>
          <% label, value = key_date_info %>
          <li class="vevent key-date-<%= i %>">
            <span class="key-date-summary"><%= label %></span>
            <% if value.is_a?(Range) %>
            <time class="dtstart" datetime="<%= value.first %>">
              <%= value.first.to_formatted_s(:short_ordinal) %>
            </time>
            &ndash;
            <time class="dtend" datetime="<%= value.last %>">
              <%= value.last.to_formatted_s(:short_ordinal) %>
            </time>
            <% else %>
            <time class="dtstart dtend" datetime="<%= value %>">
              <%= value.to_formatted_s(:short_ordinal_day) %>
            </time>
            <% end %>
          </li>
          <% end %>
        </ol>
      </section>

      <div id="calendar">
        <%= CalendarRenderer.new(
        @planner.range,
        decorations: @planner.key_dates
        ).render %>
      </div>
      <div class="inner cta group">
        <ul class="actions">
          <li class="print"><a href="#" onclick="window.print()" class="button"><span>Print calendar</span></a></li><!-- we actually want this link to open a more print-friendly version of the page -->
          <li class="ical">
            <%= link_to '<span>Add to calendar</span>'.html_safe, plan_path('adoption', @planner.recognized_params.merge(format: :ics)), class:"button" %>
          </li>
        </ul>
      </div>
      <%= render partial: 'alternate_links' %>
    <% end %>

    </div>
  </article>
</div>
</section>
