<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Benefits and schemes | www.gov.uk</title>
    <%= stylesheet_link_tag "planner" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
<body>
  <div id="wrapper" class="planner">
    <%= yield %>
  </div>
</body>
</html>
